<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'walk_of_fame/home.css' %}">
        <script type="text/javascript" src="{% static 'walk_of_fame/home.js' %}"></script>
    </head>
    <body id="tetet">
        <header>
            <div class="background-image"></div>
            <div class="header-content">
                <img class="header-logo" src="{% static 'walk_of_fame/symbol.png' %}"/>
                <div class="header-labels">
                    <h1>Аллея славы</h1>
                    <h2>Лучшие студенты школы</h2>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="menu">
                <div class="floating-menu" id="menu">
                    {% for year in object_list %}
                        <a class="menu-item" href="{% url 'home' %}#section-{{ year.0 }}">Выпуск {{ year.0 }}</a>
                    {% endfor %}
                </div>
            </div>
            <ul class="section-list">
                {% for year in object_list %}
                    <li>
                        <div class="record-section">
                            <h1 class="section-title" id="section-{{ year.0 }}">Выпуск {{ year.0 }}</h1>
                            <ul class="record-list">
                                {% for record in year.1 %}
                                    <li class="record-row">
                                        <img class="record-image" src="{{ record.image.url }}">
                                        <div class="record-content">
                                            <p class="name">{{ record.name }}</p>
                                            <p class="profile">{{ record.profile }} профиль</p>
                                            <p class="description">{{ record.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'create_record' %}">Создать</a>
    </body>
</html>